{% extends 'base.html.twig' %}

{% block title %}Edit FraisForfait{% endblock %}

{% block body %}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
    <h1>Edit FraisForfait</h1>

    {{ include('frais_forfait/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_frais_forfait_index') }}">back to list</a>

    {{ include('frais_forfait/_delete_form.html.twig') }}
{% endblock %}
