{% extends 'base.html.twig' %}

{% block title %}New FraisForfait{% endblock %}

{% block body %}
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
    <h1>Create new FraisForfait</h1>

    {{ include('frais_forfait/_form.html.twig') }}

    <a href="{{ path('app_frais_forfait_index') }}">back to list</a>
{% endblock %}
