{% extends 'base.html.twig' %}

{% block title %}Hello PrimeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Prime Inflation</h1>

    <table class="table">
        <thead>
        <tr>
            <th> Prime montants valide cumulés total</th>
            <th> Prime montants valide cumulés par visiteur</th>
            <th> Montant Total </th>
            <th> Montant Total par visiteur </th>
        </thead>

        <tbody>
        <tr>
            <td>{{ primeMontantValidesCumules }}</td>
            <td>{{ primeMontantValideCumulesParVisiteur }}</td>
            <td>{{ montantCumules }}</td>
            <td>{{ montantCumulesParVisiteur }}</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
