<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}


        <!-- CSS only -->



        <style>

            body {
                background: url('https://images5.alphacoders.com/741/741597.jpg') no-repeat center center fixed;
                -webkit-background-size: auto;
                -moz-background-size: cover;
                background-size: auto;
                -o-background-size: auto;

            }

            input {

                border: 1px solid #ad09ff;
                border-radius: 4px;
                opacity: 100%;
                background-color: rgba(255, 104, 48, 0.34);
            }


            input {
                color: black;
                border-color: black;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.5;
                transition: 0.3s;

            }

            input:hover {opacity: 10}

            button {
                background-color: rgba(55, 2, 112, 0.63);
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.5;
                transition: 0.22s;
            }

            button:hover {opacity: 1}

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .button:hover span {
                padding-right: 25px;
            }
            {
                background: black;
            }
            .button:hover span:after {
                opacity: 1;
                right: 0;
            }

            div {
                border-radius: 12px;
            }

        </style>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
