<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}

        <!-- CSS only -->

        <style>

            body {
                background: url('https://wallpapercave.com/wp/wp3316083.jpg') no-repeat center center fixed;
                -webkit-background-size: auto;
                -moz-background-size: cover;
                background-size: auto;
                -o-background-size: auto;

            }




            div:after {
                position: absolute;
                content: "";
                top: 5vw;
                left: 0;
                right: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                margin: 0 auto;
                transform: scale(0.75);
                -webkit-filter: blur(5vw);
                -moz-filter: blur(5vw);
                -ms-filter: blur(5vw);
                filter: blur(5vw);
                background: linear-gradient(270deg, #0fffc1, #7e0fff);
                background-size: 200% 200%;
                animation: animateGlow 10s ease infinite;
            }
            @keyframes animateGlow {
                0% {
                    background-position: 0% 50%;
                }
                50% {
                    background-position: 100% 50%;
                }
                100% {
                    background-position: 0% 50%;
                }
            }
            @keyframes textColor {
                0% {
                    color: #7e0fff;
                }
                50% {
                    color: #0fffc1;
                }
                100% {
                    color: #7e0fff;
                }
            }



            input {

                border: 1px solid #000000;
                border-radius: 4px;
                opacity: 100%;
                background-color: rgba(96, 96, 96, 0.34);
            }


            input {
                color: black;
                border-color: black;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.5;
                transition: 0.3s;

            }

            input:hover {opacity: 10}

            button {
                background-color: rgba(0, 0, 0, 0.63);
                border: none;
                color: white;
                padding: 16px 32px;
                text-align: center;
                font-size: 16px;
                margin: 4px 2px;
                opacity: 0.5;
                transition: 0.22s;
            }

            button:hover {opacity: 1}

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

            .button:hover span {
                padding-right: 25px;
            }
            {
                background: black;
            }
            .button:hover span:after {
                opacity: 1;
                right: 0;
            }

            div {
                border-radius: 12px;
            }

        </style>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="#">Formulaire de Connexion</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Page 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Page 4</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
